<div class="page-header">
  <h2 style="text-align: center;">List of ToDos</h2>
</div>
<input type="button" class="btn-default" value="New ToDo">
<div class="container">
  <div class="row">
  <div class="col-md-3 mx-auto my-5" *ngFor="let todo of todos">
    <div class="card" style="padding: 5%;">
      <h4 style="text-align: center;"><b>{{todo.title}}</b></h4>
      <p><i><u>Description:</u></i></p>
      <p>- {{todo.description}}</p>
      <p><i><u>AP for:</u></i></p>
      <p>{{todo.user}}</p>
      <input type="button" class="btn btn-default pull-right" style="background-color: bisque;" value="Edit"><input type="button" class="btn btn-danger pull-right" value="Delete">
    </div>
  </div>
</div>
</div>

  


