<div class="jumbotron text-center" style="margin-bottom: 10%;">
    <h1>ToDo App</h1>
    <p class="lead">Create, update, or manage your todos</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']" style="margin-right: 1%;">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Requires registration</h3>
        <p>Only a verified user can access to content</p>
    </div>
    <div class="col-md-4">
        <h3>Manage your schedule</h3>
        <p>Be on top of your actions by knowing what tasks you have on your table</p>
    </div>
    <div class="col-md-4">
        <h3>Mark tasks done</h3>
        <p>After you have completed your todo, mark it as 'Done', to have a clear view of todos that need your actions</p>
    </div>
</div>